@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+MX+Guides&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
}

#root{
  min-height: 100vh;
  display: flex;
}